$theme-colors: (
  'primary': #b8d1f4,
  'secondary': #833bec,
  'success': #1ce1ac,
  'info': #ff7d50,
  'warning': #ffbe0b,
  'danger': #ff007f,
  'light': #c0ccda,
  'dark': #001738,
);

$body-bg: #ffffff;
$body-tertiary-bg: #22a1a1;

@import "/node_modules/bootstrap/scss/bootstrap";